body {

    margin: 0;

    background: #000;

    overflow: hidden;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    color: white;

    font-family: 'Courier New', Courier, monospace;

    touch-action: none;
}

canvas {

    border:2px solid #333;

    background:
    radial-gradient(
        circle,
        #001 0%
        #000 100%
    );

    box-shadow: 0 0 20px rgba( 0,255, 255, 0.15);

}

#ui {
    
    position: absolute;

    top: 10px;
 
    width:100%;
    
    text-align: center;

    pointer-events: none;

    text-shadow: 0 0 5px #0ff;

}
#ui p{

    font-size: 10px;

    opacity: 0.6;
}

#gameOverScreen {

    position: fixed;

    inset: 0;

    background: rgba(0,0,0,0.92);

    display:none;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    z-index:999;

    color: white;

    text-align: center;
}

#gameOverScreen h1 {

    font-size:60px;

    color: #ff0044;

    text-shadow: 0 0 20px #ff0044;

    margin-bottom: 10px;
}

#gameOverScreen h2 {

    color: #00ccff;

    text-shadow: 0 0 10px #00ccff;

    margin-bottom: 30px;

    white-space: pre-line;
}

#restartBtn {

    padding: 15px 40px;

    font-size: 20px;

    background: #00ccff;

    color: #000;

    border: none;

    border-radius: 10px;

    cursor: pointer;

    transition:0.2s;
}

#restartBtn:hover {

    transform: scale(1.1);
    background: white;

}